#container {
    width: 700px;
    height: 100%;
    border-left: solid rgb(97, 97, 184);
    padding: 200px;
    Margin-left: 400px;
}

.header {
    width: 250px;
    height: 130px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 200px;
}